<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
	content="Red social de apuestas gratuitas, ¡gana premios apostando gratis! Reta a tus amigos, apuestas de futbol, tenis, 
baloncesto, e-sports y otros deportes" />
<meta name="keywords"
	content="apuestas,gratis,gratuitas,freebet,red,social,deporte,deportes,deportivas,premios,futbol,tenis,baloncesto,esports" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />

<title>Admin panel</title>

<!-- Bootstrap CSS -->
<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link href="#" th:href="@{/css/bootstrap-theme.min.css}"
	rel="stylesheet" type="text/css" />

<!-- Font Awesome CSS -->
<link href="#" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" />

<!-- Custom CSS -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet"
	type="text/css" />

<!-- jQuery -->
<script src="#" th:src="@{/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap JavaScript -->
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="#" th:src="@{/js/custom.js}"></script>
<script src="#" th:src="@{/js/admin.js}"></script>


</head>

<body>

	<!-- HEADER -->
	<div th:replace="fragments/common :: header"></div>

	<!-- ADMIN MENU -->
	<main class="container-fluid">
	<div id="main-container" class="row">
		<div th:replace="fragments/admin :: #admin-menu"></div>
		<section id="admin-welcome" class="col-lg-10">
				<div th:replace="fragments/admin :: #manage-competitions-alerts"></div>
				<div th:replace="fragments/admin :: #manage-competitions"></div>
				<div th:replace="fragments/admin :: #add-competition"></div>
				<div th:replace="fragments/admin :: #delete-competition"></div>
		</section>
	</div>
	</main>
	
	<!-- FOOTER -->
	<div th:replace="fragments/common :: footer"></div>

</body>
</html>