<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

	<aside id="admin-menu" class="col-lg-2">
		<ul>
			<li><a th:href="@{/admin/manage-sports}"><i
					class="fa fa-futbol-o" aria-hidden="true"></i><span
					th:text="#{label.admin.managesport}"></span></a></li>
			<li><a th:href="@{/admin/manage-competitions}"><i
					class="fa  fa-trophy" aria-hidden="true"></i><span
					th:text="#{label.admin.managecompetition}"></span></a></li>
			<li><a th:href="@{/admin/manage-events}"><i
					class="fa fa-calendar" aria-hidden="true"></i><span
					th:text="#{label.admin.manageevent}"></span></a></li>
			<li><a th:href="@{/admin/manage-markets}"><i
					class="fa fa-check" aria-hidden="true"></i><span
					th:text="#{label.admin.managemarket}"></span></a></li>
			<li><a th:href="@{/admin/close-event}"><i
					class="fa fa-handshake-o" aria-hidden="true"></i><span
					th:text="#{label.admin.closeevent}"></span></a></li>
		</ul>
	</aside>

	<section id="admin-panel-main" class="events-panel">
		<h3 th:text="#{label.admin.sitestats}"></h3>
		<p>
			<b><span th:text="#{label.admin.enabledusers}"></span>:</b> <span
				th:text="${stats.activeUsers}"></span><br /> <b><span
				th:text="#{label.admin.verifiedusers}"></span>:</b> <span
				th:text="${stats.verifiedUsers}"></span>
		</p>
		<p>
			<b><span th:text="#{label.pendingbets}"></span>:</b> <span
				th:text="${stats.pendingBets}"></span><br /> <b><span
				th:text="#{label.totalbets}"></span>:</b> <span
				th:text="${stats.totalBets}"></span>
		</p>
		<p>
			<b><span th:text="#{label.availableprizes}"></span>:</b> <span
				th:text="${stats.availablePrizes}"></span><br /> <b><span
				th:text="#{label.redeemedprizes}"></span>:</b> <span
				th:text="${stats.redeemedPrizes}"></span>
		</p>
	</section>

	<div id="manage-sports-alerts" class="container-fluid"
		style="width: 100%">
		<div th:if="${success == true}" class="alert alert-success"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.addedsuccessfully}"></div>
		<div th:if="${success == false}" class="alert alert-danger"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.error}"></div>
		<div th:if="${deleted == true}" class="alert alert-success"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.deletedsuccessfully}"></div>
	</div>

	<section id="manage-sports" class="events-panel">
		<h3 th:text="#{label.admin.editsport}"></h3>
		<div class="container">
			<form th:action="@{/admin/sports/edit}" method="POST"
				class="form-signin">
				<select class="form-control" id="sport" name="sport">
					<option th:each="sport : ${sports}"
						th:text="#{label.sports.__${sport.name}__}" th:value="${sport.id}"></option>
				</select>
				<button class="btn btn-primary btn-center" th:text="#{label.edit}"
					type="submit"></button>
			</form>
		</div>
	</section>

	<section id="add-sport" class="events-panel">
		<h3 th:text="#{label.admin.addsport}"></h3>
		<div class="container">
			<form th:action="@{/admin/sports/add}" th:object="${sportModel}"
				method="POST" class="form-signin">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<p>
					<label for="sportName" th:text="#{label.name}"></label> <input
						type="text" class="form-control" th:field="*{sportName}" />
				</p>
				<p>
					<label for="iconName" th:text="#{label.admin.iconname}"></label> <input
						type="text" class="form-control" th:field="*{iconFile}" />
				</p>
				<button type="submit" class="btn btn-primary btn-center"
					th:text="#{label.add}"></button>
			</form>
		</div>
	</section>

	<section id="edit-sport" class="events-panel">
		<h3
			th:text="${'__#{label.admin.editsport}__: ' + currentSport.sportName}"></h3>
		<div class="container">
			<form th:action="@{/admin/sports/edit/do}" th:object="${sportModel}"
				method="POST" class="form-signin">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<p>
					<label for="sportName" th:text="#{label.name}"></label> <input
						type="text" class="form-control" id="sportName" name="sportName"
						th:value="${currentSport.sportName}" />
				</p>
				<p>
					<label for="iconName" th:text="#{label.admin.iconname}"></label> <input
						type="text" class="form-control" id="iconFile" name="iconFile"
						th:value="${currentSport.iconFile}" />
				</p>
				<input type="hidden" name="id" th:value="${currentSport.id}" />
				<button type="submit" class="btn btn-primary btn-center"
					th:text="#{label.edit}"></button>
			</form>
		</div>
	</section>

	<section id="delete-sport" class="events-panel">
		<h3 th:text="#{label.admin.deletesport}"></h3>
		<div class="container">
			<form th:action="@{/admin/sports/delete}" method="POST"
				class="form-signin"
				onsubmit="return confirm('Por favor confirma que deseas borrar el deporte seleccionado');">
				<select class="form-control" id="deleteSport" name="deleteSport">
					<option th:each="sport : ${sports}"
						th:text="#{label.sports.__${sport.name}__}" th:value="${sport.id}"></option>
				</select>
				<button class="btn btn-primary btn-center" th:text="#{label.delete}"
					type="submit"></button>
			</form>
		</div>
	</section>

	<div id="manage-competitions-alerts" class="container-fluid"
		style="width: 100%">
		<div th:if="${success == true}" class="alert alert-success"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.addedsuccessfully}"></div>
		<div th:if="${success == false}" class="alert alert-danger"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.error}"></div>
		<div th:if="${deleted == true}" class="alert alert-success"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.deletedsuccessfully}"></div>
	</div>

	<section id="manage-competitions" class="events-panel">
		<h3 th:text="#{label.admin.editcompetition}"></h3>
		<div class="container">
			<form th:action="@{/admin/competitions/edit}" method="POST"
				class="form-signin">
				<select class="form-control" id="competition" name="competition">
					<option th:each="competition : ${competitions}"
						th:text="${competition.name}" th:value="${competition.id}"></option>
				</select>
				<button class="btn btn-primary btn-center" th:text="#{label.edit}"
					type="submit"></button>
			</form>
		</div>
	</section>

	<section id="add-competition" class="events-panel">
		<h3 th:text="#{label.admin.addcompetition}"></h3>
		<div class="container">
			<form th:action="@{/admin/competitions/add}"
				th:object="${competitionModel}" method="POST" class="form-signin">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<p>
					<label for="sportId" th:text="#{label.sport}"></label> <select
						class="form-control" th:field="*{sportId}">
						<option th:each="sport : ${sports}"
							th:text="#{label.sports.__${sport.name}__}"
							th:value="${sport.id}"></option>
					</select>
				</p>
				<p>
					<label for="name" th:text="#{label.name}"></label> <input
						type="text" class="form-control" th:field="*{name}" />
				</p>
				<p>
					<label for="parentId" th:text="#{label.admin.parentcompetition}"></label>
					<select class="form-control" th:field="*{parentId}">
						<option th:text="#{label.none}" value="0"></option>
						<option th:each="competition : ${competitions}"
							th:text="${competition.name}" th:value="${competition.id}"></option>
					</select>
				</p>
				<button type="submit" class="btn btn-primary btn-center"
					th:text="#{label.add}"></button>
			</form>
		</div>
	</section>

	<section id="edit-competition" class="events-panel">
		<h3
			th:text="${'__#{label.admin.editcompetition}__: ' + currentCompetition.name}"></h3>
		<div class="container">
			<form th:action="@{/admin/competitions/edit/do}"
				th:object="${competitionModel}" method="POST" class="form-signin">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<p>
					<label for="sportId" th:text="#{label.sport}"></label> <select
						class="form-control" th:field="*{sportId}">
						<option
							th:text="${'__#{label.current}__: ' + currentCompetitionSportName}"
							th:value="${currentCompetition.sportId}" th:selected="true"></option>
						<option th:each="sport : ${sports}"
							th:if="${sport.id != currentCompetition.sportId}"
							th:text="#{label.sports.__${sport.name}__}"
							th:value="${sport.id}"></option>
					</select>
				</p>
				<p>
					<label for="name" th:text="#{label.name}"></label> <input
						type="text" class="form-control" name="name"
						th:value="${currentCompetition.name}" />
				</p>
				<p>
					<label for="parentId" th:text="#{label.admin.parentcompetition}"></label>
					<select class="form-control" name="parentId" id="parentId">
						<option
							th:text="${'__#{label.current}__: ' + currentCompetitionParentName}"
							th:value="${currentCompetition.parentId}" th:selected="true"></option>
						<option th:if="${currentCompetition.parentId != '0'}"
							th:text="#{label.none}" value="0"></option>
						<option th:each="competition : ${competitions}"
							th:if="${competition.id != currentCompetition.parentId}"
							th:text="${competition.name}" th:value="${competition.id}"></option>
					</select>
				</p>
				<input type="hidden" name="id" th:value="${currentCompetition.id}" />
				<button type="submit" class="btn btn-primary btn-center"
					th:text="#{label.edit}"></button>
			</form>
		</div>
	</section>

	<section id="delete-competition" class="events-panel">
		<h3 th:text="#{label.admin.deletecompetition}"></h3>
		<div class="container">
			<form th:action="@{/admin/competitions/delete}" method="POST"
				class="form-signin"
				onsubmit="return confirm('Por favor confirma que deseas borrar la competición seleccionada');">
				<select class="form-control" id="deleteCompetition"
					name="deleteCompetition">
					<option th:each="competition : ${competitions}"
						th:text="${competition.name}" th:value="${competition.id}"></option>
				</select>
				<button class="btn btn-primary btn-center" th:text="#{label.delete}"
					type="submit"></button>
			</form>
		</div>
	</section>

	<div id="manage-events-alerts" class="container-fluid"
		style="width: 100%">
		<div th:if="${success == true}" class="alert alert-success"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.addedsuccessfully}"></div>
		<div th:if="${success == false}" class="alert alert-danger"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.error}"></div>
		<div th:if="${deleted == true}" class="alert alert-success"
			style="width: 100%; margin-bottom: 0; margin-top: 10px"
			th:text="#{label.admin.deletedsuccessfully}"></div>
	</div>

	<section id="manage-events" class="events-panel">
		<h3 th:text="#{label.admin.editevent}"></h3>
		<div class="container">
			<form th:action="@{/admin/events/edit}" method="POST"
				class="form-signin">
				<label for="competition" th:text="#{label.competition}"></label> <select
					class="form-control" id="competition" name="competition">
					<option th:text="#{label.admin.chooseone}" selected="selected"></option>
					<option th:each="competition : ${competitions}"
						th:text="${competition.name}" th:value="${competition.id}"></option>
				</select><br /> <label for="event" th:text="#{label.event}"></label> <select
					class="replace-event form-control" id="disabled-event"
					name="disabled-event" disabled="disabled">
					<option th:text="#{label.admin.emptycompetition}"></option>
				</select>
				<button class="btn btn-primary btn-center" th:text="#{label.edit}"
					type="submit"></button>
			</form>
		</div>
	</section>

	<select class="replace-event form-control" id="event" name="event">
		<option th:each="event : ${events}"
			th:text="${event.home + ' vs ' + event.away}" th:value="${event.id}"></option>
	</select>

	<section id="add-event" class="events-panel">
		<h3 th:text="#{label.admin.addevent}"></h3>
		<div class="container">
			<form th:action="@{/admin/events/add}" th:object="${eventModel}"
				method="POST" class="form-signin">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<p>
					<label for="competitionId" th:text="#{label.competition}"></label>
					<select class="form-control" th:field="*{competitionId}">
						<option th:each="competition : ${competitions}"
							th:text="${competition.name}" th:value="${competition.id}"></option>
					</select>
				</p>
				<p>
					<label for="home" th:text="#{label.home}"></label> <input
						type="text" class="form-control" th:field="*{home}" />
				</p>
				<p>
					<label for="away" th:text="#{label.away}"></label> <input
						type="text" class="form-control" th:field="*{away}" />
				</p>
				<p>
					<label for="date" th:text="#{label.startdate}"></label> <input
						type="text" class="form-control" th:field="*{date}" />
				</p>
				<button type="submit" class="btn btn-primary btn-center"
					th:text="#{label.add}"></button>
			</form>
		</div>
	</section>

	<section id="edit-event" class="events-panel">
		<h3
			th:text="${'__#{label.admin.editevent}__: ' + currentEvent.home + ' vs ' + currentEvent.away}"></h3>
		<div class="container">
			<form th:action="@{/admin/events/edit/do}" th:object="${eventModel}"
				method="POST" class="form-signin">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<p>
					<label for="competitionId" th:text="#{label.competition}"></label>
					<select class="form-control" th:field="*{competitionId}">
						<option
							th:text="${'__#{label.current}__: ' + currentEventCompetitionName}"
							th:value="${currentEvent.competitionId}" th:selected="true"></option>
						<option th:each="competition : ${competitions}"
							th:text="${competition.name}" th:value="${competition.id}"></option>
					</select>
				</p>
				<p>
					<label for="home" th:text="#{label.home}"></label> <input
						type="text" class="form-control" name="home"
						th:value="${currentEvent.home}" />
				</p>
				<p>
					<label for="away" th:text="#{label.away}"></label> <input
						type="text" class="form-control" name="away"
						th:value="${currentEvent.away}" />
				</p>
				<p>
					<label for="date" th:text="#{label.startdate}"></label> <input
						type="text" class="form-control" name="date"
						th:value="${currentEvent.date}" />
				</p>
				<input type="hidden" name="id" th:value="${currentEvent.id}" />
				<button type="submit" class="btn btn-primary btn-center"
					th:text="#{label.edit}"></button>
			</form>
		</div>
	</section>

	<section id="close-event" class="events-panel">
		<h3 th:text="#{label.admin.closeevent}"></h3>
		<div class="container">
			<form th:action="@{/admin/events/close}" method="POST"
				class="form-signin">
				<label for="competition" th:text="#{label.competition}"></label> <select
					class="form-control" id="competition" name="competition">
					<option th:text="#{label.admin.chooseone}" selected="selected"></option>
					<option th:each="competition : ${competitions}"
						th:text="${competition.name}" th:value="${competition.id}"></option>
				</select><br /> <label for="event" th:text="#{label.event}"></label> <select
					class="replace-event form-control" id="disabled-event"
					name="disabled-event" disabled="disabled">
					<option th:text="#{label.admin.emptycompetition}"></option>
				</select>
				<button class="btn btn-primary btn-center"
					th:text="#{label.getmarkets}" type="submit"></button>
			</form>
		</div>
	</section>

	<section id="close-event-market" class="events-panel">
		<h3 th:text="${currentEvent.home + ' vs ' + currentEvent.away}"></h3>
		<ul id="event-markets" class="container-fluid">
			<li class="event-market row" th:each="market : ${eventMarkets}">
				<div class="col-lg-6 text-center">
					<h4 th:text="${market.market.name}"></h4>
				</div>
				<div class="col-lg-6 text-left" th:if="${market.market.result == 0}">
					<form class="close-event-form" action="#"
						th:attr="data-market-id=${market.market.id}">
						<label for="event" th:text="#{label.winnerselection}"></label><br />
						<select class="form-control">
							<option value="-1" th:text="#{label.admin.canceled}"></option>
							<option th:each="selection : ${market.marketSelections}"
								th:text="${selection.name}" th:value="${selection.id}"></option>
						</select>
						<button type="submit" class="btn btn-primary pull-right"
							th:text="#{label.admin.closemarket}"></button>
					</form>
				</div>
				<div class="col-lg-6 text-left" th:if="${market.market.result != 0}">
					<form class="close-event-form" action="#"
						th:attr="data-market-id=${market.market.id}">
						<label for="event" th:text="#{label.winnerselection}"></label><br />
						<select class="form-control" disabled="disabled">
							<option th:text="#{label.admin.alreadyclosed}"></option>
						</select>
					</form>
				</div>
			</li>
		</ul>
	</section>

	<div id="market-closed-successfully">
		<label for="event" th:text="#{label.winnerselection}"></label><br />
		<select class="form-control" disabled="disabled">
			<option th:text="#{label.admin.alreadyclosed}"></option>
		</select>
	</div>

	<section id="manage-markets" class="events-panel">
		<h3 th:text="#{label.admin.addmarket}"></h3>
		<div class="container">
			<form th:action="@{/admin/events/addmarket}" method="POST"
				class="form-signin">
				<label for="competition" th:text="#{label.competition}"></label> <select
					class="form-control" id="competition" name="competition">
					<option th:text="#{label.admin.chooseone}" selected="selected"></option>
					<option th:each="competition : ${competitions}"
						th:text="${competition.name}" th:value="${competition.id}"></option>
				</select><br /> <label for="event" th:text="#{label.event}"></label> <select
					class="replace-event form-control" id="disabled-event"
					name="disabled-event" disabled="disabled">
					<option th:text="#{label.admin.emptycompetition}"></option>
				</select>
				<button class="btn btn-primary btn-center" th:text="#{label.add}"
					type="submit"></button>
			</form>
		</div>
	</section>

	<section id="add-market" class="events-panel">
		<h3 th:text="#{label.admin.addmarket}"></h3>
		<div class="container">
			<form th:action="@{/admin/events/addmarket/do}"
				th:object="${marketModel}" method="POST" class="form-signin">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<p>
					<label for="name" th:text="#{label.marketname}"></label> <input
						type="text" class="form-control" th:field="*{name}" />
				</p>
				<p>
					<label for="category" th:text="#{label.category}"></label> <input
						type="text" class="form-control" th:field="*{category}" />
				</p>
				<p>
					<label for="home" th:text="#{label.home}"></label> <input
						type="text" class="form-control" th:field="*{home}" /> <label
						for="homeOdds" th:text="#{label.bets.odds}"></label> <input type="text"
						class="form-control" th:field="*{homeOdds}" />
				</p>
				<p>
					<label for="draw" th:text="${'__#{label.draw}__' + ' (dejar en blanco si no hay empate)'}"></label> <input
						type="text" class="form-control" th:field="*{draw}" /> <label
						for="drawOdds" th:text="#{label.bets.odds}"></label> <input type="text"
						class="form-control" th:field="*{drawOdds}" />
				</p>
				<p>
					<label for="away" th:text="#{label.away}"></label> <input
						type="text" class="form-control" th:field="*{away}" /> <label
						for="awayOdds" th:text="#{label.bets.odds}"></label> <input type="text"
						class="form-control" th:field="*{awayOdds}" />
				</p>
				<input type="hidden" name="eventId" th:value="${currentEvent.id}" />
				<button type="submit" class="btn btn-primary btn-center"
					th:text="#{label.add}"></button>
			</form>
		</div>
	</section>

</body>

</html>