<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

	<header class="container-fluid">
		<section id="header-main" class="row">
			<div id="logo" class="col-lg-3">
				<h1>
					<a th:href="@{/}"><span id="premio">Premio</span>Bet</a>
				</h1>
			</div>
			<nav class="col-lg-5">
				<ul class="nav-custom">
					<li class="active-navbar-link"><a th:href="@{/}"
						th:text="#{label.sports}"></a></li>
					<li><a th:href="@{/prizes}" th:text="#{label.prizes}"></a></li>
				</ul>
			</nav>
			<div id="user-panel" class="col-lg-4">
				<div
					th:if="${#authentication.getPrincipal() == 'anonymousUser' or #authentication.getPrincipal() == null}"
					id="login">
					<form th:action="@{/dologin}" method="POST"
						class="navbar-form navbar-left no-padding">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
						<div class="form-group">
							<input type="text" class="form-control" name="username"
								placeholder="Usuario" />
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password"
								placeholder="Contraseña" />
						</div>
						<button type="submit" class="btn btn-primary"
							th:text="#{label.login}"></button>
					</form>
					<div id="login-more" class="clear">
						<a href="/register" th:text="#{label.register}"></a> <a
							th:text="#{label.forgotpassword}"></a>
					</div>
				</div>
				<div
					th:if="${#authentication.getPrincipal() != 'anonymousUser' and #authentication.getPrincipal() != null}"
					class="col-lg-8 col-lg-offset-4">
					<p>
						<span th:text="#{label.hi}"></span> <span class="bold orange"
							th:text="${session.user.username}"></span>!<br /> <span
							th:text="#{label.points}"></span>: <span class="bold-sm"
							id="user-balance" th:text="${session.user.balance}"></span> <i
							id="refresh-user-balance" class="fa fa-refresh"></i>
					</p>
					<p>
						<a class="bold-sm" th:href="@{/logout}" th:text="#{label.logout}"></a>
						<a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
							class="bold-sm" th:href="@{/admin}" style="margin-left: 10px;">Admin
							panel</a>
					</p>
				</div>
			</div>
		</section>
		<section id="header-bar">
			<div id="header-bar-container" class="row">
				<div id="server-date" class="col-lg-2">
					<span id="clock-hours"
						th:text="${#dates.format(#dates.createNow(), 'HH')}"></span>:<span
						id="clock-minutes"
						th:text="${#dates.format(#dates.createNow(), 'mm')}"></span>:<span
						id="clock-seconds"
						th:text="${#dates.format(#dates.createNow(), 'ss')}"></span> <span> (CET) | </span>
					<span id="server-date"
						th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span>
				</div>
				<div id="config" class="col-lg-4 col-lg-offset-6">
					<span><a th:text="#{label.forum}"></a></span> <span><a
						th:text="#{label.blog}"></a></span> <span><a
						th:text="#{label.help}"></a></span> <span><a
						th:text="#{label.aboutus}"></a></span>
					<div id="lang" class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button"
							data-toggle="dropdown">
							<span th:text="${#locale.getDisplayLanguage(#locale)}"></span> <span
								class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="?lang=en" data-locale="en"
								th:if="${#locale.language != 'en'}">English</a></li>
							<li><a href="?lang=es" data-locale="es"
								th:if="${#locale.language != 'es'}">Español</a></li>
							<li class="disabled"><a href="#" data-locale="fr"
								th:if="${#locale.language != 'fr'}">Français (soon)</a></li>
							<li class="disabled"><a href="#" data-locale="de"
								th:if="${#locale.language != 'de'}">Deutsch (soon)</a></li>
							<li class="disabled"><a href="#" data-locale="pt"
								th:if="${#locale.language != 'pt'}">Português (soon)</a></li>
						</ul>
					</div>

				</div>
			</div>
		</section>
	</header>

	<aside id="sports-menu" class="col-lg-2">
		<ul>
			<li th:each="sport : ${sports}"><a
				th:href="@{'/sport/' + ${sport.id}}"><img class="sports-icon"
					th:src="@{'/img/icons/sports/' + ${sport.img}}" /> <span
					th:text="#{label.sports.__${sport.name}__}"></span></a></li>
		</ul>
	</aside>

	<div id="coupon">
		<div id="coupon-header">
			<h4 th:text="#{label.coupon}"></h4>
			<button class="btn btn-xs pull-right btn-minimize">
				<i class="fa fa-window-minimize"></i>
			</button>
		</div>
		<div id="coupon-body">
			<div id="selected-bets" class="list-group"></div>
		</div>
	</div>

	<div id="pending-bets"
		th:if="${#authentication.getPrincipal() != 'anonymousUser' and #authentication.getPrincipal() != null}">
		<div id="pending-bets-header">
			<h4 th:text="#{label.pendingbets}"></h4>
			<button class="btn btn-xs pull-right btn-minimize">
				<i class="fa fa-window-minimize"></i>
			</button>
		</div>
		<div id="pending-bets-body">
			<ul id="pending-bets-list" class="list-group">
				<li class="pending-bet" th:each="pendingBet : ${pendingBets}" th:attr="data-pendingbet-id=${pendingBet.bet.id}">
				<div class="pending-bet-header">
					<span th:text="${pendingBet.selectionName}"></span> <span class="pull-right"
					th:text="${pendingBet.bet.amount + ' @ ' + pendingBet.bet.odds}"></span>
				</div>
				<div class="pending-bet-body">
					<span th:text="${'__#{label.bets.betamount}__' + ': ' + pendingBet.bet.amount}"></span>
					<span class="pull-right" th:text="${'__#{label.bets.odds}__' + ': ' + pendingBet.bet.odds}"></span><br/>
					<span th:text="${pendingBet.marketName}"></span><br/>
					<span th:text="${pendingBet.eventName}"></span><br/>
					<span th:text="${'__#{label.bets.betdate}__' + #dates.format(pendingBet.bet.date, 'dd-MM-yyyy HH:mm:ss')}"></span><br/>
					<span th:text="${'__#{label.potentialreturns}__' + ': ' + pendingBet.bet.amount*pendingBet.bet.odds}"></span><br/>
				</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="coupon-selection new-selection list-group-item"
		th:attr="data-selection-id=${couponSelection.selection.id}, data-odd=${couponSelection.selection.odd}">
		<div class="row">
			<div class="col-lg-8">
				<span class="bold" th:text="${couponSelection.selection.name}"></span><br />
				<span th:text="${couponSelection.marketName}"></span><br /> <span
					th:text="${couponSelection.event}"></span><br /> <span
					th:text="#{label.potentialreturns}"></span>:
			</div>
			<div class="col-lg-4">
				<span class="bold" th:text="${couponSelection.selection.odd}"></span>
				<span class="remove-selection fa fa-close pull-right text-danger"></span>
			</div>
			<div class="col-lg-7" style="margin-top: 5px">
				<input type="text" class="form-control" name="amount"
					placeholder="Puntos a apostar" />
			</div>
			<div class="col-lg-5" style="margin-top: 5px">
				<input type="button" class="btn btn-primary" name="placebet"
					value="Apostar" />
			</div>
		</div>
	</div>

	<div class="place-bet-odd-changed coupon-selection list-group-item"
		th:attr="data-selection-id=${couponSelection.selection.id}, data-odd=${couponSelection.selection.odd}">
		<div class="row">
			<div class="col-lg-12 alert alert-warning"
				th:text="#{label.bets.oddschanged}"></div>
			<div class="col-lg-8">
				<span class="bold" th:text="${couponSelection.selection.name}"></span><br />
				<span th:text="${couponSelection.marketName}"></span><br /> <span
					th:text="${couponSelection.event}"></span><br /> <span
					th:text="#{label.potentialreturns}"></span>
			</div>
			<div class="col-lg-4">
				<span class="bold" th:text="${couponSelection.selection.odd}"></span>
				<span class="remove-selection fa fa-close pull-right text-danger"></span>
			</div>
			<div class="col-lg-7" style="margin-top: 5px">
				<input type="text" class="form-control" name="amount"
					th:placeholder="#{label.pointsamount}" />
			</div>
			<div class="col-lg-5" style="margin-top: 5px">
				<input type="button" class="btn btn-primary" name="placebet"
					th:value="#{label.bet}" />
			</div>
		</div>
	</div>

	<div class="place-bet-lower-balance coupon-selection list-group-item"
		th:attr="data-selection-id=${couponSelection.selection.id}, data-odd=${couponSelection.selection.odd}">
		<div class="row">
			<div class="col-lg-12 alert alert-warning"
				th:text="#{label.bets.lowbalance}"></div>
			<div class="col-lg-8">
				<span class="bold" th:text="${couponSelection.selection.name}"></span><br />
				<span th:text="${couponSelection.marketName}"></span><br /> <span
					th:text="${couponSelection.event}"></span><br /> <span
					th:text="#{label.potentialreturns}"></span>
			</div>
			<div class="col-lg-4">
				<span class="bold" th:text="${couponSelection.selection.odd}"></span>
				<span class="remove-selection fa fa-close pull-right text-danger"></span>
			</div>
			<div class="col-lg-7" style="margin-top: 5px">
				<input type="text" class="form-control" name="amount"
					th:placeholder="#{label.pointsamount}" />
			</div>
			<div class="col-lg-5" style="margin-top: 5px">
				<input type="button" class="btn btn-primary" name="placebet"
					th:value="#{label.bet}" />
			</div>
		</div>
	</div>

	<div class="place-bet-invalid-amount coupon-selection list-group-item"
		th:attr="data-selection-id=${couponSelection.selection.id}, data-odd=${couponSelection.selection.odd}">
		<div class="row">
			<div class="col-lg-12 alert alert-warning">
				<span th:text="#{label.bets.invalidamount}"></span> <span
					th:text="#{label.bets.min}"></span> <span th:text="${minBetAmount}"></span>
				<span th:text="#{label.bets.max}"></span> <span
					th:text="${maxBetAmount}"></span>
			</div>
			<div class="col-lg-8">
				<span class="bold" th:text="${couponSelection.selection.name}"></span><br />
				<span th:text="${couponSelection.marketName}"></span><br /> <span
					th:text="${couponSelection.event}"></span><br /> <span
					th:text="#{label.potentialreturns}"></span>
			</div>
			<div class="col-lg-4">
				<span class="bold" th:text="${couponSelection.selection.odd}"></span>
				<span class="remove-selection fa fa-close pull-right text-danger"></span>
			</div>
			<div class="col-lg-7" style="margin-top: 5px">
				<input type="text" class="form-control" name="amount"
					th:placeholder="#{label.pointsamount}" />
			</div>
			<div class="col-lg-5" style="margin-top: 5px">
				<input type="button" class="btn btn-primary" name="placebet"
					th:value="#{label.bet}" />
			</div>
		</div>
	</div>

	<div
		class="place-bet-invalid-amount-format coupon-selection list-group-item"
		th:attr="data-selection-id=${couponSelection.selection.id}, data-odd=${couponSelection.selection.odd}">
		<div class="row">
			<div class="col-lg-12 alert alert-warning"
				th:text="#{label.bets.invalidamountformat}"></div>
			<div class="col-lg-8">
				<span class="bold" th:text="${couponSelection.selection.name}"></span><br />
				<span th:text="${couponSelection.marketName}"></span><br /> <span
					th:text="${couponSelection.event}"></span><br /> <span
					th:text="#{label.potentialreturns}"></span>
			</div>
			<div class="col-lg-4">
				<span class="bold" th:text="${couponSelection.selection.odd}"></span>
				<span class="remove-selection fa fa-close pull-right text-danger"></span>
			</div>
			<div class="col-lg-7" style="margin-top: 5px">
				<input type="text" class="form-control" name="amount"
					th:placeholder="#{label.pointsamount}" />
			</div>
			<div class="col-lg-5" style="margin-top: 5px">
				<input type="button" class="btn btn-primary" name="placebet"
					th:value="#{label.bet}" />
			</div>
		</div>
	</div>

	<div class="place-bet-success coupon-selection list-group-item"
		th:attr="data-selection-id=${couponSelection.selection.id}">
		<div class="row">
			<div class="col-lg-12 alert alert-success"
				th:text="#{label.bets.success}"></div>
			<div class="col-lg-8">
				<span class="bold" th:text="${couponSelection.selection.name}"></span><br />
				<span th:text="${couponSelection.marketName}"></span><br /> <span
					th:text="${couponSelection.event}"></span><br /> <span
					th:text="#{label.bets.betamount}"></span>: <span class="bold-sm"
					th:text="${currentBet.amount}"></span><br /> <span
					th:text="#{label.potentialreturns}"></span> <span class="bold-sm"
					th:text="${currentBet.amount * currentBet.odds}"></span><br /> <span
					th:text="#{label.bets.betdate}"></span> <span
					th:text="${#dates.format(currentBet.date, 'dd-MM-yyyy HH:mm:ss')}"></span>
			</div>
			<div class="col-lg-4">
				<span class="bold" th:text="${currentBet.odds}"></span> <span
					class="remove-selection fa fa-close pull-right text-danger"></span>
			</div>
		</div>
	</div>

	<div class="place-bet-not-logged list-group-item">
		<div class="row">
			<div class="alert alert-danger" th:text="#{label.bets.login}"></div>
		</div>
	</div>

	<div class="place-bet-unavailable-selection list-group-item">
		<div class="row">
			<div class="alert alert-danger" th:text="#{label.bets.unavailable}"></div>
		</div>
	</div>

	<div id="chat">
		<div id="chat-header">
			<h4 th:text="#{label.chat}"></h4>
			<button class="btn btn-xs pull-right btn-minimize">
				<i class="fa fa-window-minimize"></i>
			</button>
		</div>
		<div id="chat-body">
			<div class="chat-message">
				<span class="bold">jrar</span>: <span>yyyeee!!</span>
			</div>
			<div class="chat-message">
				<span class="bold">jrar</span>: <span>sisisisisi</span>
			</div>
			<div class="chat-message">
				<span class="bold">jrar</span>: <span>ya mismito</span>
			</div>
		</div>
		<div id="chat-footer" class="form-group">
			<textarea class="form-control" rows="2" id="newmessage"></textarea>
			<input id="btn-newmessage" class="btn btn-primary" type="submit"
				value="Enviar" />
			<div id="intro-chat" class="pull-right">
				<input type="checkbox" th:checked="true" /> Intro para enviar
			</div>
		</div>
	</div>

	<footer class="container-fluid">
		<h4 class="text-center">Aplicación desarrollada por <a class="orange" href="http://www.jrar.me">JRAR</a> como proyecto final del C.F.G.S. Desarrollo de Aplicaciones Web</h4>
		<h4 class="text-center"><a class="orange" href="http://www.iestrassierra.com">IES Trassierra</a></h4>
	</footer>

</body>
</html>