<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>

	<div id="competition-events" class="events-panel">
		<div id="sport-name-container">
			<h1 class="sport-name" th:text="${currentCompetition.name}"></h1>
		</div>
		<ul class="events-list">
			<li th:each="popularEvent : ${popularEvents}" class="event">
				<div class="container-fluid">
					<div class="event-header">
						<a th:href="${'/event/'+popularEvent.event.id}"><span
							th:text="${popularEvent.event.home}"></span> <span>vs</span> <span
							th:text="${popularEvent.event.away}"></span></a> <span
							class="competition-light"> | </span> <span
							class="competition-light"
							th:text="${#dates.format(popularEvent.event.startDate, 'dd/MM/yyyy HH:mm')}"></span>
						<a th:href="${'/event/'+popularEvent.event.id}"><span th:text="${'+' + popularEvent.marketCount + ' mercados'}"
							class="pull-right"></span></a>
					</div>
					<div th:if="${popularEvent.selections.size()==2}"
						class="event-body container-fluid">
						<div class="col-lg-6">
							<span th:text="${popularEvent.selections.get(0).name}"></span> <span
								th:text="${popularEvent.selections.get(0).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-6">
							<span th:text="${popularEvent.selections.get(1).name}"></span> <span
								th:text="${popularEvent.selections.get(1).odd}"
								class="pull-right"></span>
						</div>
					</div>
					<div th:if="${popularEvent.selections.size()==3}"
						class="event-body container-fluid">
						<div class="col-lg-4">
							<span th:text="${popularEvent.selections.get(0).name}"></span> <span
								th:text="${popularEvent.selections.get(0).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-4">
							<span th:text="${popularEvent.selections.get(1).name}"></span> <span
								th:text="${popularEvent.selections.get(1).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-4">
							<span th:text="${popularEvent.selections.get(2).name}"></span> <span
								th:text="${popularEvent.selections.get(2).odd}"
								class="pull-right"></span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

</body>
</html>