<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>

	<div id="event-markets" class="events-panel">
		<div id="sport-name-container">
			<h1 class="sport-name"
				th:text="${currentEvent.home + ' vs ' + currentEvent.away}"></h1>
		</div>
		<ul class="events-list">
			<li th:each="eventMarket : ${eventMarkets}" class="event">
				<div class="container-fluid">
					<div class="event-header">
						<span th:text="${eventMarket.market.name}"></span> <span
							class="competition-light"> | </span> <span
							class="competition-light"
							th:text="${eventMarket.market.category}"></span>
					</div>
					<div th:if="${eventMarket.marketSelections.size()==2}"
						class="event-body container-fluid">
						<div class="col-lg-6">
							<span th:text="${eventMarket.marketSelections.get(0).name}"></span> <span
								th:text="${eventMarket.marketSelections.get(0).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-6">
							<span th:text="${eventMarket.marketSelections.get(1).name}"></span> <span
								th:text="${eventMarket.marketSelections.get(1).odd}"
								class="pull-right"></span>
						</div>
					</div>
					<div th:if="${eventMarket.marketSelections.size()==3}"
						class="event-body container-fluid">
						<div class="col-lg-4">
							<span th:text="${eventMarket.marketSelections.get(0).name}"></span> <span
								th:text="${eventMarket.marketSelections.get(0).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-4">
							<span th:text="${eventMarket.marketSelections.get(1).name}"></span> <span
								th:text="${eventMarket.marketSelections.get(1).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-4">
							<span th:text="${eventMarket.marketSelections.get(2).name}"></span> <span
								th:text="${eventMarket.marketSelections.get(2).odd}"
								class="pull-right"></span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

</body>
</html>