<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>

	<div id="slider" class="events-panel">
		<ul class="bxslider">
			<li th:each="news : ${news}"><a th:href="${news.url}"
				target="_blank"><img class="col-lg-6"
					th:src="@{'/img/news/' + ${news.img}}" />
					<article class="slider-description col-lg-6">
						<h3 th:text="${news.title}"></h3>
						<p th:text="${news.description}"></p>
					</article></a></li>
		</ul>
	</div>

	<div id="popular-events" class="events-panel">
		<h3 th:text="#{label.popularevents}"></h3>
		<ul class="events-list">
			<li th:each="popularEvent : ${popularEvents}" class="event" th:attr="data-event-id=${popularEvent.event.id}">
				<div class="container-fluid">
					<div class="event-header">
						<a th:href="${'/event/'+popularEvent.event.id}"><span th:text="${popularEvent.event.home}"></span> <span>vs</span>
						<span th:text="${popularEvent.event.away}"></span></a> <span
							class="competition-light"> | </span> <span
							class="competition-light"
							th:text="${#dates.format(popularEvent.event.startDate, 'dd/MM/yyyy HH:mm')}"></span>
						<a th:href="${'/event/'+popularEvent.event.id}"><span th:text="${'+' + popularEvent.marketCount + ' mercados'}"
							class="pull-right"></span></a>
					</div>
					<div th:if="${popularEvent.selections.size()==2}"
						class="event-body container-fluid">
						<div class="col-lg-6 selection" th:attr="data-selection-id=${popularEvent.selections.get(0).id}">
							<span th:text="${popularEvent.selections.get(0).name}"></span> <span
								th:text="${popularEvent.selections.get(0).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-6 selection" th:attr="data-selection-id=${popularEvent.selections.get(1).id}">
							<span th:text="${popularEvent.selections.get(1).name}"></span> <span
								th:text="${popularEvent.selections.get(1).odd}"
								class="pull-right"></span>
						</div>
					</div>
					<div th:if="${popularEvent.selections.size()==3}"
						class="event-body container-fluid">
						<div class="col-lg-4 selection" th:attr="data-selection-id=${popularEvent.selections.get(0).id}">
							<span th:text="${popularEvent.selections.get(0).name}"></span> <span
								th:text="${popularEvent.selections.get(0).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-4 selection" th:attr="data-selection-id=${popularEvent.selections.get(1).id}">
							<span th:text="${popularEvent.selections.get(1).name}"></span> <span
								th:text="${popularEvent.selections.get(1).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-4 selection" th:attr="data-selection-id=${popularEvent.selections.get(2).id}">
							<span th:text="${popularEvent.selections.get(2).name}"></span> <span
								th:text="${popularEvent.selections.get(2).odd}"
								class="pull-right"></span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div id="upcoming-events" class="events-panel">
		<h3 th:text="#{label.upcomingevents}"></h3>
		<ul class="events-list">
			<li th:each="upcomingEvent : ${upcomingEvents}" class="event" th:attr="data-event-id=${upcomingEvent.event.id}">
				<div class="container-fluid">
					<div class="event-header">
						<a th:href="${'/event/'+upcomingEvent.event.id}"><span th:text="${upcomingEvent.event.home}"></span> <span>vs</span>
						<span th:text="${upcomingEvent.event.away}"></span></a> <span
							class="competition-light"> | </span> <span
							class="competition-light"
							th:text="${#dates.format(upcomingEvent.event.startDate, 'dd/MM/yyyy HH:mm')}"></span>
						<a th:href="${'/event/'+upcomingEvent.event.id}"><span th:text="${'+' + upcomingEvent.marketCount + ' mercados'}"
							class="pull-right"></span></a>
					</div>
					<div th:if="${upcomingEvent.selections.size()==2}"
						class="event-body container-fluid">
						<div class="col-lg-6 selection" th:attr="data-selection-id=${upcomingEvent.selections.get(0).id}">
							<span th:text="${upcomingEvent.selections.get(0).name}"></span> <span
								th:text="${upcomingEvent.selections.get(0).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-6 selection" th:attr="data-selection-id=${upcomingEvent.selections.get(1).id}">
							<span th:text="${upcomingEvent.selections.get(1).name}"></span> <span
								th:text="${upcomingEvent.selections.get(1).odd}"
								class="pull-right"></span>
						</div>
					</div>
					<div th:if="${upcomingEvent.selections.size()==3}"
						class="event-body container-fluid">
						<div class="col-lg-4 selection" th:attr="data-selection-id=${upcomingEvent.selections.get(0).id}">
							<span th:text="${upcomingEvent.selections.get(0).name}"></span> <span
								th:text="${upcomingEvent.selections.get(0).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-4 selection" th:attr="data-selection-id=${upcomingEvent.selections.get(1).id}">
							<span th:text="${upcomingEvent.selections.get(1).name}"></span> <span
								th:text="${upcomingEvent.selections.get(1).odd}"
								class="pull-right"></span>
						</div>
						<div class="col-lg-4 selection" th:attr="data-selection-id=${upcomingEvent.selections.get(2).id}">
							<span th:text="${upcomingEvent.selections.get(2).name}"></span> <span
								th:text="${upcomingEvent.selections.get(2).odd}"
								class="pull-right"></span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>


</body>
</html>