<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>

	<div id="sport-competitions" class="events-panel">
		<div id="sport-name-container">
			<h1 class="sport-name" th:text="#{label.sports.__${currentSport.name}__}"></h1>
			<span class="sport-name-competitions" th:text="#{label.competitions}"></span>
		</div>
		<ul id="competition-list" class="container-fluid">
			<li th:each="competition : ${sportCompetitions}"><a th:href="${'/competition/'+competition.competition.id}"><span
				th:text="${competition.competition.name}"> </span> <span
				th:text="${competition.eventCount + ' evento(s)'}"
				class="pull-right competition-eventcount"></span></a></li>
		</ul>
	</div>

</body>
</html>