/* GENERAL */
@font-face {
	font-family: Raleway-Bold;
	src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
	font-family: Raleway-Regular;
	src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: Raleway-Thin;
	src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: Open Sans Bold;
	src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
	font-family: Open Sans Light;
	src: url(../fonts/OpenSans-Light.ttf);
}

body {
	font-family: Raleway-Regular;
	font-size: 14px;
	background-color: #453c38;
}

h1, h2, h3, h4 {
	font-family: Raleway-Bold;
}

a, a:hover, a:active, a:focus {
	color: #333;
}

.no-padding {
	padding: 0;
}

.clear {
	clear: both;
}

.btn-primary {
	background: #f66e00;
	text-shadow: none;
	color: white;
	border: 1px solid black;
}

.btn-primary:hover, .btn-primary:focus {
	background: #dd6300;
	color: white;
	border-color: black;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary
	{
	background: #dd6300 !important;
}

.form-control:focus {
	border-color: #f66e00;
	box-shadow: inset 0 1px 1px rgba(246, 110, 0, 0.075), 0 0 8px
		rgba(246, 110, 0, 0.6);
}

.bold {
	font-family: Open Sans Bold;
	font-size: 16px;
}

.bold-sm {
	font-family: Open Sans Bold;
	font-size: 14px;
}

.orange {
	color: #f66e00;
}

.btn-center {
	display: block;
	margin: 10px auto;
}

/* HEADER */
header {
	background-color: #453c38;
	border-color: black;
	height: auto;
	color: #ffffff;
	border-bottom: 4px solid #f66e00;
}

header a, header a:hover {
	color: #ffffff;
}

#header-main {
	margin: 10px 0px;
}

#logo a {
	color: white;
	text-decoration: none;
}

#logo #premio {
	color: #f66e00;
}

#logo a:hover {
	text-decoration: none;
}

.nav-custom {
	list-style: none;
	font-size: 18px;
	margin-top: 10px;
}

.nav-custom li {
	display: inline-block;
	padding: 15px 20px;
	margin: 0px 10px;
}

.nav-custom li:hover {
	border-bottom: 2px solid #ffffff;
}

.nav-custom>li>a {
	text-decoration: none;
	color: #ffffff;
}

#login {
	text-align: left;
}

#login-more a {
	padding-right: 20px;
	color: #f66e00;
}

#refresh-user-balance {
	cursor: pointer;
	margin-left: 5px;
}

.active-navbar-link {
	border-bottom: 2px solid #f66e00;
}

#header-bar {
	margin: 0px 5px;
	border-top: 1px solid white;
	font-family: 'Open Sans', sans-serif;
}

#header-bar-container {
	margin: 10px 0px;
	text-align: left;
}

#server-date {
	margin-top: 10px;
	color: #f66e00;
}

#config span a {
	padding: 0px 10px;
}

#lang {
	display: inline-block;
	margin: 0px 10px;
}

/* SPORTS ASIDE */
#sports-menu {
	background-color: #453c38;
	height: auto;
	border-right: 1px solid #453c38;
	padding: 0;
}

#sports-menu>ul {
	list-style: none;
	padding: 0px;
	position: relative;
	height: 100%;
	font-family: Raleway-Bold;
	font-size: 16px;
	position: relative;
	position: relative;
}

#sports-menu>ul>li {
	border-bottom: 1px solid #f66e00;
	background-color: white;
}

#sports-menu>ul>li>a {
	display: block;
	margin: 0;
	padding: 7px 7px;
}

#sports-menu>ul>li>a:hover {
	background-color: #938279;
	border: none;
	text-decoration: none;
}

.sports-icon {
	width: 20px;
	height: 20px;
	margin-right: 12px;
}

/* SPORTS MAIN PANEL */
#sports-container {
	background-color: #938279;
	min-height: 400px;
}

.bx-wrapper {
	margin-bottom: 40px;
}

.bx-wrapper img {
	width: 50%;
	height: auto;
	padding: 10px;
	max-height: 240px;
}

.events-panel {
	margin: 10px;
	background-color: white;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}

.events-panel>h3 {
	padding-top: 10px;
	text-align: center;
}

.events-panel>.events-category {
	list-style: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px;
}

.events-panel {
	margin: 10px;
	background-color: white;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}

.events-list {
	list-style: none;
	padding: 0px;
}

.events-list>:nth-child(even)>div {
	background-color: #e8e8e8;
}

.event>div {
	border-top: 1px dotted black;
	padding-top: 10px;
}

.event-header {
	font-family: Open Sans Bold;
	padding-bottom: 5px;
}

.event-body {
	font-family: Open Sans;
	display: block;
}

.event-body>div {
	border-right: 1px solid black;
	border-left: 1px solid black;
	margin-bottom: 5px;
	padding-bottom: 2px;
}

.event-body>div:hover {
	background-color: #f99d52;
}

.event-body>div:first-child {
	border-left: none;
	border-right: 1px solid black;
}

.event-body>div:last-child {
	border: none;
}

.event-body>div:nth-child(2) {
	border-left: none;
}

.competition-light {
	font-family: Open Sans Light;
}

/* SINGLE SPORT PAGE */
#sport-name-container {
	text-align: center;
}

.sport-name {
	padding-top: 10px;
	display: inline-block;
}

.sport-name-competitions {
	font-family: Open Sans Light;
	font-size: 20px;
	padding-left: 10px;
}

#competition-list {
	list-style: none;
	font-size: 18px;
	font-family: Open Sans Bold;
	border-top: 1px dotted black;
}

#competition-list li {
	margin: 5px 10px;
}

#competition-list a {
	color: #333;
	text-decoration: none;
}

.competition-eventcount {
	font-family: Open Sans Light;
	font-size: 16px;
}

#competition-events li.event:first-child {
	border-top: 1px dotted black;
}

#event-markets li.event:first-child {
	border-top: 1px dotted black;
}

.selection, .remove-selection {
	cursor: pointer;
}

.place-bet-not-logged {
	margin: 0px auto;
}

.place-bet-not-logged>div.row>div.alert {
	margin: 20px;
}

div.alert {
	margin: 0px auto;
	width: 90%;
	float: none;
	margin-bottom: 20px;
}

/* RIGHT ASIDE */
#right-menu {
	background-color: #453c38;
	height: auto;
	border-left: 1px solid #453c38;
	padding: 0;
}

.btn-minimize {
	margin-right: 10px;
	background-color: #c6b7af;
}

#coupon {
	background-color: white;
}

#coupon-header {
	padding: 10px 0px;
	text-align: center;
	border-bottom: 1px solid black;
}

#coupon-header h4 {
	margin: 0;
	display: inline;
}

#coupon-body {
	
}

#bet-type {
	text-align: center;
	padding: 0px;
}

#bet-type>div>a {
	display: block;
	text-decoration: none;
}

.betmode-active {
	background-color: #f66e00;
	color: white;
	-moz-box-shadow: inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow: inset 0 0 2px #000000;
}

.betmode-active>a {
	color: white;
}

.list-group-item {
	display: block;
	border: solid;
	border-width: 1px 0px;
	border-radius: 0 !important;
}

#pending-bets {
	background-color: white;
}

#pending-bets-header {
	padding: 10px 0px;
	text-align: center;
	border-bottom: 1px solid black;
}

#pending-bets-header h4 {
	margin: 0;
	display: inline;
}

#pending-bets-list {
	list-style: none;
}

#pending-bets-list>li {
	border-top: 1px dotted black;
}

#pending-bets-list>li:first-child {
	border-top: none;
}

.pending-bet-header {
	padding: 5px;
	cursor: pointer;
}

.pending-bet-body {
	background-color: #E8E8E8;
	padding: 5px;
	display: none;
}

#chat {
	background-color: white;
}

#chat-header {
	padding: 10px 0px;
	text-align: center;
	border-bottom: 1px solid black;
}

#chat-header h4 {
	margin: 0;
	display: inline;
}

#chat-body {
	height: 400px;
}

.chat-message {
	border-bottom: 1px dotted black;
	padding: 5px 10px;
}

#chat-footer {
	border-top: 1px solid black;
	padding: 5px 10px;
	margin-bottom: 0px;
}

#newmessage {
	resize: none;
}

#btn-newmessage {
	margin-top: 10px;
}

#intro-chat {
	margin-top: 10px;
}

/* FOOTER */
footer {
	color: white;
	border-top: 4px solid #f66e00;
}

/* LOGIN PAGE */
#login-container {
	margin-top: 100px;
	background: white;
	padding: 30px;
}

#login-container a {
	color: #f66e00;
}

/* ADMIN PANEL */
#admin-menu {
	background-color: #453c38;
	height: auto;
	border-right: 1px solid #453c38;
	padding: 0;
}

#admin-menu>ul {
	list-style: none;
	padding: 0px;
	position: relative;
	height: 100%;
	font-family: Raleway-Bold;
	font-size: 16px;
	position: relative;
	position: relative;
}

#admin-menu>ul>li {
	border-bottom: 1px solid #f66e00;
	background-color: white;
}

#admin-menu>ul>li>a {
	display: block;
	margin: 0;
	padding: 7px 7px;
}

#admin-menu>ul>li>a>i {
	margin-right: 10px;
}

#admin-menu>ul>li>a:hover {
	background-color: #938279;
	border: none;
	text-decoration: none;
}

#admin-welcome {
	background-color: #938279;
	min-height: 500px;
}

#admin-panel-main {
	padding: 10px 20px;
	padding-top: 0;
}

#event-markets {
	list-style: none;
	padding: 0;
}

#event-markets>li.event-market {
	font-size: 16px;
	border-bottom: 1px solid black;
	padding: 10px;
	margin: 0;
}

#event-markets>li.event-market select {
	width: auto;
	display: inline-block;
}

#event-markets>li.event-market:first-child {
	border-top: 1px solid black;
}