<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
	content="Red social de apuestas gratuitas, ¡gana premios apostando gratis! Reta a tus amigos, apuestas de futbol, tenis, 
baloncesto, e-sports y otros deportes" />
<meta name="keywords"
	content="apuestas,gratis,gratuitas,freebet,red,social,deporte,deportes,deportivas,premios,futbol,tenis,baloncesto,esports" />

<title>Iniciar sesión</title>

<!-- Bootstrap CSS -->
<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link href="#" th:href="@{/css/bootstrap-theme.min.css}"
	rel="stylesheet" type="text/css" />
<!-- Font Awesome CSS -->
<link href="#" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" />
<!-- Custom CSS -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet"
	type="text/css" />

</head>

<body>

	<div class="container">
		<div class="row">
			<div id="login-container" class="col-md-offset-4 col-md-4">
				<div class="alert alert-danger" th:if="${param.error}">Por
					favor inicia sesión para continuar</div>
				<div class="alert alert-success" th:if="${registered}">Bienvenido a PremioBet. Ahora puedes iniciar sesión</div>
				<div class="alert alert-danger" th:if="${param.invalid}">Usuario
					o contraseña incorrectos</div>
				<div class="alert alert-danger" th:if="${param.expired}">La
					sesión ha expirado. Vuelve a iniciar sesión</div>
				<div class="form-login">
					<form th:action="@{/dologin}" method="POST" class="form-signin">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
						<h2 class="form-signin-heading">Iniciar sesión</h2>
						<p>
							<label for="inputEmail">Username</label> <input type="text"
								class="form-control" placeholder="Username" name="username"
								id="username" />
						</p>
						<p>
							<label for="inputPassword">Password</label> <input
								type="password" class="form-control" placeholder="Password"
								name="password" id="password" />
						</p>
						<p>
							<a th:href="@{/forgotpassword}">He olvidado mi contraseña</a><br />
						</p>
						<button style="margin: auto; display: block" type="submit"
							class="btn btn-primary">
							iniciar <i class="fa fa-sign-in"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->

</body>
</html>