<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
	content="Red social de apuestas gratuitas, ¡gana premios apostando gratis! Reta a tus amigos, apuestas de futbol, tenis, 
baloncesto, e-sports y otros deportes" />
<meta name="keywords"
	content="apuestas,gratis,gratuitas,freebet,red,social,deporte,deportes,deportivas,premios,futbol,tenis,baloncesto,esports" />

<title>Registrarse</title>

<!-- Bootstrap CSS -->
<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link href="#" th:href="@{/css/bootstrap-theme.min.css}"
	rel="stylesheet" type="text/css" />
<!-- Font Awesome CSS -->
<link href="#" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" />
<!-- Custom CSS -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet"
	type="text/css" />

</head>

<body>

	<div class="container">
		<div class="row">
			<div id="login-container" class="col-md-offset-4 col-md-4">
				<div class="form-login">
					<form th:action="@{/register/do}" method="POST" class="form-signin" th:object="${registrationModel}">
						<input type="hidden" name="${_csrf.parameterName}"
							value="${_csrf.token}" />
						<h2 class="form-signin-heading">Registrarse</h2>
						<p>
							<label for="username">Usuario</label> <input
								type="text" class="form-control" th:field="*{username}" />
						</p>
						<p>
							<label for="password">Password</label> <input
								type="password" class="form-control" th:field="*{password}" />
						</p>
						<p>
							<label for="email">Email</label> <input
								type="text" class="form-control" th:field="*{email}" />
						</p>
						<p>
							<label for="firstName">Nombre</label> <input
								type="text" class="form-control" th:field="*{firstName}" />
						</p>
						<p>
							<label for="lastName">Apellidos</label> <input
								type="text" class="form-control" th:field="*{lastName}" />
						</p>
						<p>
							<label for="country">País de residencia</label> <input
								type="text" class="form-control" th:field="*{country}" />
						</p>
						<p>
							<label for="birthDate">Fecha de nacimiento</label> <input
								type="date" class="form-control" th:field="*{birthDate}" />
						</p>
						<button style="margin: auto; display: block" type="submit"
							class="btn btn-primary">
							Registrarse
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->

</body>
</html>