<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="google" content="notranslate" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
	content="Red social de apuestas gratuitas, ¡gana premios apostando gratis! Reta a tus amigos, apuestas de futbol, tenis, 
baloncesto, e-sports y otros deportes" />
<meta name="keywords"
	content="apuestas,gratis,gratuitas,freebet,red,social,deporte,deportes,deportivas,premios,futbol,tenis,baloncesto,esports" />

<title>PremioBet - Red social de apuestas deportivas gratuitas |
	¡Gana premios apostando GRATIS!</title>

<!-- Bootstrap CSS -->
<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link href="#" th:href="@{/css/bootstrap-theme.min.css}"
	rel="stylesheet" type="text/css" />

<!-- Morris Charts CSS -->
<link href="#" th:href="@{/css/morris.css}" rel="stylesheet"
	type="text/css" />

<!-- Font Awesome CSS -->
<link href="#" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" />

<!-- BXslider CSS -->
<link href="#" th:href="@{/css/jquery.bxslider.min.css}"
	rel="stylesheet" type="text/css" />

<!-- Custom CSS -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet"
	type="text/css" />


<!-- jQuery -->
<script src="#" th:src="@{/js/jquery-3.2.1.min.js}"></script>

<!-- Bootstrap JavaScript -->
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Morris Charts JavaScript -->
<script src="#" th:src="@{/js/raphael.min.js}"></script>
<script src="#" th:src="@{/js/morris.min.js}"></script>
<script src="#" th:src="@{/js/morris-data.js}"></script>

<!-- BXSlider JavaScript -->
<script src="#" th:src="@{/js/jquery.bxslider.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="#" th:src="@{/js/custom.js}"></script>


</head>
<body>

	<!-- HEADER -->
	<div th:replace="fragments/common :: header"></div>
	
	<!-- MAIN -->
	<main class="container-fluid">
	<div id="main-container" class="row">
		<div th:replace="fragments/common :: aside#sports-menu"></div>
		<section id="sports-container" class="col-lg-7">
			<div class="row">
				<div class="container-fluid">
					<div th:replace="fragments/sport :: div#sport-competitions"></div>
				</div>
			</div>
		</section>
		<aside id="right-menu" class="col-lg-3">
			<div th:replace="fragments/common :: div#coupon"></div>
		</aside>
	</div>
	</main>

	<!-- FOOTER -->
	<div th:replace="fragments/common :: footer"></div>

</body>
</html>